/* RecordTestResult component styles */
#record-section {
    max-width: 500px;
    margin: 0 auto;
  }
  
  #record-section select, #record-section textarea, #record-section button {
    margin-bottom: 15px;
  }
  
  form button {
    width: 100%;
  }
  
  h2 {
    text-align: center;
  }
  